/* style.css */

/* ------------------------------------------------------------------------- */
/*Importando Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* ------------------------------------------------------------------------- */
/*Formateando*/

body {
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------------------------------- */
/* ESTILOS POR DEFECTO (device-width <=576px)*/

/* ------------------------------------------------------- */
/* Background Color */

.bg-nav {
    background-color: #00579c;
}

.bg-filter{
    background-color: #e2e2e2;
}

.bg-principal{
    background-color: white;
}

.bg-footer{
    background-color: #012f6b;
}

.bg-button {
    background-color: #00579c;
}

/* ------------------------------------------------------- */
/*Estilos de Textos*/

.txt-black-1-n-center{
    color:black;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.txt-white-1-n-start{
    color:white;
    font-size: 1rem;
    font-weight: 400;
    text-align: start;
}

.txt-white-1-n-center{
    color:white;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.txt-white-1-b-center{
    color:white;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

ul{
    list-style: none;
}

.txt-index{
    text-decoration: none;
    color: #4d77fd;
}

/* ------------------------------------------------------- */
/*Estilos Flex*/

.f-row{
    display:flex;
    flex-direction: row;
}

.f-column{
    display:flex;
    flex-direction: column;
}

.f-start-star{
    justify-content: start;
    align-items: start;
}

.f-start-center{
    justify-content: start;
    align-items: center;
}

.f-between-center{
    justify-content:space-between;
    align-items: center;
}

.f-between-start{
    justify-content:space-between;
    align-items: start;
}

.f-center-center{
    justify-content: center;
    align-items: center;
}

.f-center-start{
    justify-content: center;
    align-items: start;
}

.f-evenly-center{
    justify-content:space-evenly;
    align-items: center;
}

/* ------------------------------------------------------- */
/*Estilos Margin Padding*/

.m-0-2{
    margin: 0.2rem;
}

.m-0-3{
    margin: 0.3rem;
}

.mside-0-3{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.m-0-5{
    margin: 0.5rem;
}

.mb-0-5{
    margin-bottom: 0.5rem;
}

.mt-0-5{
    margin-top: 0.5rem;
}

.p-0-5{
    padding: 0.5rem;
}

.p-1{
    padding: 1rem;
}

/* ------------------------------------------------------- */
/*Estilos Contenedores*/

/* Estilos Navbar */

.nav{
    padding: 1rem 0.7rem 1rem 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    width: auto;
    height: auto;
    margin: 0;
    display: none;
}

.icon-bar{
    display: block;
}

/* Estilos Form Filter*/

.form-filter{
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
}

.form-select{
    height: 2rem;
    width: 100%;
    border-style: solid;
    border-radius: 0.2rem;
    border-color: darkgray;
    border-width: 1px;
}

/* Estilos Card */
.card{
    border-style: solid;
    border-radius: 0.5rem;
    border-color: darkgray;
    border-width: 1px;
    box-shadow: 0 4px 5px -3px darkgray;
}

.card-header{
    width: calc(100%-2rem);
}

.card-img{
    width: 100%;
    height: auto; 
}

.card-button{
    height: 2rem;
    width: 5rem;
    border-style: hidden;
    border-radius: 0.3rem;
}

/* Estilos Index*/

.index-num{
    height: 1.5rem;
    width: 1.5rem;
    border-style: solid;
    border-color:lightgray;
    border-width: 1px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-start{
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.index-end{
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

/* Estilos Footer*/

.footer-icons{
    width: 3rem;
    height: 1rem;
    margin-bottom: 0.5rem;
}

/* ------------------------------------------------------- */
/*Estilos Areas, Grid y Layouts*/

.nav{
    grid-area: nav;
}

.form-filter{
    grid-area: form-filter;
}

.container-grid{
    height: auto;
    width: auto;
    display: grid;
    width: auto;
    grid-template-columns: 1fr;
    gap: 1rem;
    overflow: auto;
}

.principal{
    grid-area: principal;
}

.footer{
    grid-area: footer;
}

.layout{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "nav"
    "form-filter"
    "principal"
    "footer";
    gap: 0;
    grid-template-rows: 5vh 10vh 75vh 10vh;
    grid-template-columns: 1fr;
}

/* ------------------------------------------------------------------------- */
/* ESTILOS PARA PANTALLAS MAYORES A 576px Y MENORES A 992px, PANTALLAS TABLETS*/
@media(min-width: 576px){

    /* ------------------------------------------------------- */
    /*Estilos Areas, Grid y Layouts*/

    .layout{
        grid-template-areas: 
        "nav nav"
        "form-filter principal"
        "footer footer";
        grid-template-rows: 5vh 87vh 8vh;
        grid-template-columns: 25vw 75vw;
    }

    .container-grid{
        grid-template-columns: 1fr 1fr;
    }

    /* ------------------------------------------------------- */
    /*Estilos Contenedores*/

    /* Estilos Navbar */

    .nav-menu{
        width: 50vw;
        height: auto;
        margin: 0;
        display:block;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .nav{
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .icon-bar{
        display: none;
    }

    /* Estilos Card */
 
    .card-header{
        width: calc(50%-1.5rem);
    }

}

/* ------------------------------------------------------------------------- */
/* ESTILOS PARA PANTALLAS MAYORES A 992px, PANTALLAS ESCRITORIO*/
@media(min-width: 992px){

    /* ------------------------------------------------------- */
    /*Estilos Areas, Grid y Layouts*/

    .layout{
        grid-template-areas: 
        "nav form-filter"
        "nav principal"
        "footer principal";
        grid-template-rows: 11vh 76vh 13vh;
        grid-template-columns: 16vw 84vw;
    }

    .container-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    /* ------------------------------------------------------- */
    /*Estilos Contenedores*/

    /* Estilos Navbar */

    .nav{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .nav-menu{
        width: auto;
        height: 20vh;
        margin: 2rem 0 0 0;
        display:block;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .icon-bar{
        display: none;
    }

    /* Estilos Card */
 
    .card-header{
        width: calc(25%-1.25rem);
    }
    
}